body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swyvl-button {
  background-image: url(./static/img/path-17-1.png);
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover;
  height: 46px;
  width: 175px;
  border: none;
  color: white;
}
